// variables
$breath-time: 3.5s;
// components
$btn-color: radial-gradient(circle, rgba(255,255,255,0) 0%, rgb(255, 255, 255) 0%, rgba(255,166,0,0.9528011888349089) 76%);
// dark-mode
$bg-dark: #2d2d2d;
$text-dark: #fff;
$button-border-dark: 2px solid #fff;
$button-shadow-dark: 0px 0px 15px #fff;
// light-mode
$bg-light: #fff;
$text-light: #2d2d2d;
$button-border-light: 2px solid #fff;
$button-shadow-light: 0px 0px 15px #000;


body,
html {
    height: 100%;
    user-select: none;
    overflow-x: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    // light mode, overruled below for dark
    background: $bg-light;
    color: $text-light;
}

p {
  text-align: center;
  font-size: 42px;
  margin-top: 0px;
}

hr {
    border: none;
}

.no-display {
    display: none;
}
.no-animation {
    animation: none !important;
}

.modal-toggle {
    position: absolute;
    bottom: 24px;
    left: 24px;
}
.reset-button {
    position: absolute;
    bottom: 24px;
    right: 24px;
}
.option-buttons {
    .btn, .form-group {
        margin: 24px;
        width: 100%;
    }
    .form-group .btn {
        margin: 0;
    }
}

.previous-round-time {
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    p {
        font-size: 24px;
        opacity: 0.75;
    }
}

.round-counter {
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    h1 {
        padding: 12px;
        font-weight: 700;
    }
}

.main-button {
    border-radius: 100%;
    height: 250px;
    width: 250px;
    line-height: 250px;
    margin: 0 auto;
    background: $btn-color;
    // border: $btn-border;
    // box-shadow: $btn-shadow;
    // border: 2px solid #fff;
    // box-shadow: 0px 0px 15px #fff;
    font-size: 48px;
    color: white;
    text-shadow: 0 0 10px black;
    h1 {
        line-height: 250px;
        margin: 0 auto;
        text-align: center;
    }
    &:focus {
        display: none;
    }
}
.main-button:hover, .main-button:active, .main-button:focus, .main-button-secondary:active, .main-button-secondary:focus, .main-button-secondary:hover, .main-button-secondary:visited  {
    background: $btn-color !important;
}

.pulse {
    animation-name: pulse;
    animation-duration: calc($breath-time / 2);
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    /* animation-play-state: running; */
}
.inhale {
    height: 500px;
    width: 500px;
    line-height: 500px;
    border-radius: 100%;
    animation-name: inhale;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    /* animation-play-state: running; */
}

.instructions {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0;
    padding: 24px;
    text-align: center;
}

@keyframes pulse {
    0% {
        transform: scale(.1);
        border-radius: 100%;
    }

    100% {
        transform: scale(1.5);
        border-radius: 400%;
    }
}
@keyframes inhale {
    0% {
        transform: scale(.1);
        border-radius: 100%;
    }
    100% {
        transform: scale(1);
        border-radius: 100%;
    }
}
// dark mode
@media ( prefers-color-scheme: dark ) {
    body {
        background: $bg-dark;
        color: $text-dark;
    }
    .main-button {
        box-shadow: $button-shadow-dark;
        border: $button-border-dark;
    }
}
@media ( prefers-color-scheme: light ) {
    body {
        background: $bg-light;
        color: $text-light;
    }
    .main-button {
        box-shadow: $button-shadow-light;
        border: $button-border-light;
    }
}

.dark-mode {
    background: $bg-dark;
    color: $text-dark;
}

.light-mode {
    background: $bg-light;
    color: $text-light;
}