// variables

$breath-time: 3.5s;
// components
$btn-color: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5074230375744048) 0%, rgba(255,166,0,0.9528011888349089) 76%);
// dark-mode
$bg-dark: #2d2d2d;
$text-dark: #fff;
// light-mode
$bg-light: #fff;
$text-light: #2d2d2d;


body,
html {
    height: 100%;
    user-select: none;
    overflow-x: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    // light mode, overruled below for dark
    background: $bg-light;
    color: $text-light;
}

p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}

hr {
    border: none;
}

.no-display {
    display: none;
}
.no-animation {
    animation: none !important;
}

.sidebar-toggle {
    position: absolute;
    bottom: 24px;
    // left: 0;
    right: 24px;
}
.option-buttons {
    .btn {
        margin: 24px;
        width: 100%;
    }
}

.previous-round-time {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    p {
        font-size: 24px;
        opacity: 0.4;
    }
}

.round-counter {
    position: absolute;
    top: 96px;
    left: 0;
    right: 0;
    h1 {
        padding: 12px;
        font-weight: 700;
    }
}

.main-button {
    border-radius: 100%;
    height: 250px;
    width: 250px;
    line-height: 250px;
    margin: 0 auto;
    background: $btn-color;
    font-size: 48px;
    color: white;
    text-shadow: 0 0 10px black;
    h1 {
        line-height: 250px;
        margin: 0 auto;
        text-align: center;
    }
    &:focus {
        display: none;
    }
}
.main-button:hover, .main-button:active, .main-button:focus, .main-button-secondary:active, .main-button-secondary:focus, .main-button-secondary:hover, .main-button-secondary:visited  {
    background: $btn-color !important;
}

.pulse {
    animation-name: pulse;
    animation-duration: calc($breath-time / 2);
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    /* animation-play-state: running; */
}
.inhale {
    height: 500px;
    width: 500px;
    line-height: 500px;
    border-radius: 100%;
    animation-name: inhale;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    /* animation-play-state: running; */
}

.instructions {
    position: absolute;
    bottom: 128px;
    left: 0;
    right: 0;
    padding: 24px;
    text-align: center;
}

@keyframes pulse {
    0% {
        transform: scale(.1);
        border-radius: 100%;
    }

    100% {
        transform: scale(1.5);
        border-radius: 400%;
    }
}
@keyframes inhale {
    0% {
        transform: scale(.1);
        border-radius: 100%;
    }
    100% {
        transform: scale(1);
        border-radius: 100%;
    }
}
// dark mode
@media ( prefers-color-scheme: dark ) {
    body {
        background: $bg-dark;
        color: $text-dark;
    }
}
@media ( prefers-color-scheme: light ) {
    body {
        background: $bg-light;
        color: $text-light;
    }
}

.dark-mode {
    background: $bg-dark;
    color: $text-dark;
}